<div class="app-shell">
  <header class="app-header">
    <div class="container d-flex align-items-center justify-content-between py-2">
      <div class="brand">Ristorante</div>

      <div class="d-flex gap-2">
        <a class="btn btn-outline-light btn-sm" routerLink="/">Home</a>
<a class="btn btn-warning btn-sm conto-btn" routerLink="/conto">
  Conto

  <ng-container *ngIf="(totalQty$ | async) as q">
    <span *ngIf="q > 0" class="conto-badge">
      {{ q }}
    </span>
  </ng-container>
</a>
      </div>
    </div>
  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- mini carrello SOLO su mobile -->
  <app-cart-mini-bar></app-cart-mini-bar>
</div>
